/* General Layout using Grid */
.layout {
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
    margin: 0;
    background-color: var(--first-color); /* Light green background */
  }
  
  
  
  /* Main Content */
  .main-content {
    display: grid;
    padding: 40px;
    background-color: var(--main-content-bg); /* White background for content area */
    color: var(--main-black-text);
  }
  
  .main-content p {
    color: var(--main-black-text);
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  
  /* Optional: Button-like links in content */
  .main-content a {
    color: var(--link-text);
    text-decoration: none;
    font-weight: bold;
  }
  
  .main-content a:hover {
    text-decoration: underline;
  }
  