.item-card-container {
    grid-row: auto; /* Allow items to naturally stack */
    display: block;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    overflow: hidden; /* Ensures content that overflows is hidden */
    display: -webkit-box; /* Required for line clamping */
    -webkit-box-orient: vertical; /* Required for line clamping */
    -webkit-line-clamp: 3; /* Clamps the text to 3 lines */
    line-clamp: 2;
    max-height: calc(1.5em * 2); /* 3 lines of text (assuming line-height: 1) */
    line-height: 1.5; /* Adjust this based on your design */
    text-overflow: ellipsis; /* Adds "..." if the text overflows */
}

.green-item-card {
    border: 2px solid var(--low-border);
    background-color: var(--low-bg);
}

.blue-item-card {
    border: 2px solid var(--medium-border);
    background-color: var(--medium-bg);
}

.orange-item-card {
    border: 2px solid var(--high-border);
    background-color: var(--high-bg);
}

.red-item-card {
    border: 2px solid var(--critical-border);
    background-color: var(--critical-bg);
}